# Ignore node modules
node_modules/

# Next.js build output
.next/
out/
dist/

# Environment variables
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Hardhat artifacts
artifacts/
cache/

# Prisma
prisma/migrations/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
